@font-face {
  font-family: "iconfont"; /* Project id 3659356 */
  src: url('iconfont.woff2?t=1663842975163') format('woff2'),
       url('iconfont.woff?t=1663842975163') format('woff'),
       url('iconfont.ttf?t=1663842975163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e62d";
}

.icon-bianji:before {
  content: "\e67b";
}

.icon-xiazai:before {
  content: "\e683";
}

.icon-yunxiazai:before {
  content: "\e685";
}

.icon-chakanbingli:before {
  content: "\f97c";
}

.icon-chakan:before {
  content: "\e614";
}

.icon-xiazai1:before {
  content: "\100db";
}

.icon-xiazai11:before {
  content: "\e628";
}

.icon-user:before {
  content: "\e6b2";
}

.icon-attent:before {
  content: "\e6b3";
}

.icon-notice:before {
  content: "\e6b4";
}

.icon-classify:before {
  content: "\e6b5";
}

.icon-attention:before {
  content: "\e6b6";
}

.icon-bad_image:before {
  content: "\e6b7";
}

.icon-audio:before {
  content: "\e6b8";
}

.icon-caht:before {
  content: "\e6b9";
}

.icon-moon:before {
  content: "\e6ba";
}

.icon-image:before {
  content: "\e6bb";
}

.icon-home:before {
  content: "\e6bc";
}

.icon-shopping_cart:before {
  content: "\e6bd";
}

.icon-diadema:before {
  content: "\e6be";
}

.icon-edit:before {
  content: "\e6bf";
}

.icon-danger:before {
  content: "\e6c0";
}

.icon-collect:before {
  content: "\e6c1";
}

.icon-video:before {
  content: "\e6c2";
}

.icon-vip:before {
  content: "\e6c3";
}

.icon-airplane:before {
  content: "\e6c4";
}

.icon-cloud:before {
  content: "\e6c5";
}

.icon-exit:before {
  content: "\e6c6";
}

.icon-birthday_cake:before {
  content: "\e6c7";
}

.icon-fish:before {
  content: "\e6c8";
}

.icon-girl:before {
  content: "\e6c9";
}

.icon-forest:before {
  content: "\e6ca";
}

.icon-tree:before {
  content: "\e6cb";
}

.icon-school:before {
  content: "\e6cc";
}

.icon-time:before {
  content: "\e6cd";
}

.icon-boy:before {
  content: "\e6ce";
}

.icon-bag:before {
  content: "\e6cf";
}

.icon-sleep:before {
  content: "\e6d0";
}

.icon-hospital:before {
  content: "\e6d1";
}

.icon-lamp:before {
  content: "\e6d2";
}

.icon-trash_can:before {
  content: "\e6d3";
}

.icon-setting:before {
  content: "\e6d4";
}

.icon-tee:before {
  content: "\e6d5";
}

.icon-virus:before {
  content: "\e6d6";
}

.icon-sun:before {
  content: "\e6d7";
}

.icon-search:before {
  content: "\e6d8";
}

.icon-flower:before {
  content: "\e6d9";
}

